<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: gainsboro;">
    <header class="text-black" style="background-color: white!important;">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <img class="bi me-2 m-3" height="32" role="img" src="{{url_for('static', filename='logo.png')}}" alt="">
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <div class="row row-cols-1 mt-2 mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="20" fill="currentColor" class="bi bi-three-dots col" style="margin-top: -10%; margin-bottom: -10%;" viewBox="0 0 16 16">
                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="20" fill="currentColor" class="bi bi-three-dots col" style="margin-top: -10%; margin-bottom: -10%;" viewBox="0 0 16 16">
                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="2" height="20" fill="currentColor" class="bi bi-three-dots col" style="margin-top: -10%; margin-bottom: -10%" viewBox="0 0 16 16">
                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                    </svg>
                </div>
                  
                <li><a href="#" class="nav-link px-2 text-black-50" style="margin-left: -20%; margin-top: -5%">Все курсы</a></li>
                <li class="pt-1"><a href="" class="text-center pt-1" style="text-decoration: none; color:black; padding-left: 200%;">Преподавайте</a></li>
                <li class="pt-1"><a href="" class="text-center pt-1" style="text-decoration: none; color:black; padding-left: 220%;">Организациям</a></li>
            </ul>
            <form class="">
                    <input type="search" class="icon-rtl form-control form-control-dark " placeholder="Найти курс" aria-label="Search" style="border-radius: 0; padding: 11.5%; width: 120%; margin-left: -20%;">
            </form>
            <div class="text-end">
              <button type="button" class="btn btn-primary" style="background-color: #9966CC; border-width: 0px; border-radius: 0; padding: 50%;">Войти</button>
            </div>
        </div>
      </header>
      <div class="container-xl pt-5">
    </div>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>